<h2>Add Image</h2>
{% if messages %}
    <ul class="message">
        {% for message in messages %}
        <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="/images" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Upload a Photo:</td>
        </tr>
        <tr>
            <td><input type="file" accept="image/*" name="wedding_image"></td>
        </tr>
    </table>
    <input class="form-submit-btn" type="submit" value="Add">
</form>